<div class="publicTransportTable__header">
  <mat-form-field class="publicTransportTable__filter">
    <mat-label>{{ "publicTransportFields.type" | translate }}</mat-label>
    <mat-select
      [formControl]="typeSelectFormControl"
      [(value)]="state.type"
      (selectionChange)="onTypeSelectStateChange($event)"
      multiple
    >
      <mat-option *ngFor="let type of publicTransportTypes" [value]="type">
        {{ "publicTransportTypes." + type | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="publicTransportTable__filter">
    <mat-label>
      {{ "publicTransportFields.organizationName" | translate }}
    </mat-label>
    <mat-select
      [formControl]="organizationNameSelectFormControl"
      [(value)]="state.organizationName"
      (selectionChange)="onOrganizationNameSelectStateChange($event)"
      multiple
    >
      <mat-option *ngFor="let name of props.organizationNames" [value]="name">
        {{ name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="publicTransportTable__addButton"
    (click)="onAddButtonClick()"
  >
    {{ "publicTransportTable.buttons.addNew" | translate }}
  </button>
</div>
<mat-table
  class="publicTransportTable"
  [dataSource]="props.data"
  matSort
  matSortActive="id"
  matSortDirection="asc"
  matSortDisableClear
  (matSortChange)="onSortStateChange($event)"
>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      {{ "publicTransportTable.columns.actions" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let publicTransport">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container
          *ngFor="let action of publicTransport.actions"
          [ngSwitch]="action.type"
        >
          <button
            *ngSwitchCase="0"
            mat-menu-item
            (click)="onClickTableAction(action, publicTransport)"
          >
            <mat-icon>edit</mat-icon>
            <span>
              {{ "publicTransportTable.actions.edit" | translate }}
            </span>
          </button>
          <button
            *ngSwitchCase="1"
            mat-menu-item
            (click)="onClickTableAction(action, publicTransport)"
          >
            <mat-icon>delete_outline</mat-icon>
            <span>
              {{ "publicTransportTable.actions.delete" | translate }}
            </span>
          </button>
        </ng-container>
      </mat-menu>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "publicTransportFields.id" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let publicTransport">
      {{ publicTransport.id }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="type">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "publicTransportFields.type" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let publicTransport">
      {{ "publicTransportTypes." + publicTransport.type | translate }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="route_number">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "publicTransportFields.routeNumber" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let publicTransport">
      {{ publicTransport.route_number }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="capacity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "publicTransportFields.capacity" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let publicTransport">
      {{ publicTransport.capacity }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="organization_name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "publicTransportFields.organizationName" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let publicTransport">
      {{ publicTransport.organization_name }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="created_at">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "publicTransportFields.createdAt" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let publicTransport">
      {{ publicTransport.created_at }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="updated_at">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ "publicTransportFields.updatedAt" | translate }}
    </mat-header-cell>
    <mat-cell *matCellDef="let publicTransport">
      {{ publicTransport.updated_at }}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>
<mat-paginator
  [length]="props.total"
  [pageSize]="props.rows"
  [pageSizeOptions]="rowsOptions"
  (page)="onPaginatorStateChange($event)"
>
</mat-paginator>
