<h2 mat-dialog-title>
  {{ data.action | translate }}
  {{ "publicTransportForm.titleSuffix" | translate }}
</h2>
<mat-dialog-content class="publicTransportForm__content" [formGroup]="form">
  <mat-form-field class="publicTransportForm__formElement">
    <mat-label>{{ "publicTransportFields.type" | translate }}</mat-label>
    <mat-select formControlName="type" [(value)]="data.type">
      <mat-option *ngFor="let type of publicTransportTypes" [value]="type">
        {{ "publicTransportTypes." + type | translate }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isFieldErrorPresent('type', 'required')">
      {{ "publicTransportForm.errors.typeIsRequired" | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="publicTransportForm__formElement">
    <mat-label>{{ "publicTransportFields.routeNumber" | translate }}</mat-label>
    <input
      matInput
      placeholder="32b"
      type="text"
      maxlength="255"
      formControlName="routeNumber"
    />
    <mat-error *ngIf="isFieldErrorPresent('routeNumber', 'required')">
      {{ "publicTransportForm.errors.routeNumberIsRequired" | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="publicTransportForm__formElement">
    <mat-label>{{ "publicTransportFields.capacity" | translate }}</mat-label>
    <input
      matInput
      placeholder="25"
      type="number"
      formControlName="capacity"
    />
    <mat-error *ngIf="isFieldErrorPresent('capacity', 'required')">
      {{ "publicTransportForm.errors.capacityIsRequired" | translate }}
    </mat-error>
    <mat-error *ngIf="isFieldErrorPresent('capacity', 'min')">
      {{ "publicTransportForm.errors.capacityShouldBeGreaterOrEqual1" | translate }}
    </mat-error>
    <mat-error *ngIf="isFieldErrorPresent('capacity', 'max')">
      {{ "publicTransportForm.errors.capacityShouldBeLessOrEqual32767" | translate }}
    </mat-error>
  </mat-form-field>
  <mat-form-field class="publicTransportForm__formElement">
    <mat-label>
      {{ "publicTransportFields.organizationName" | translate }}
    </mat-label>
    <input
      matInput
      type="text"
      maxlength="255"
      placeholder="The best company in the world"
      formControlName="organizationName"
    />
    <mat-error *ngIf="isFieldErrorPresent('organizationName', 'required')">
      {{ "publicTransportForm.errors.organizationNameIsRequired" | translate }}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="publicTransportForm__buttonGroup">
    <button
      mat-raised-button
      class="publicTransportForm__button"
      (click)="close()"
    >
      {{ "publicTransportForm.buttons.close" | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      class="publicTransportForm__button"
      [disabled]="form.invalid"
      (click)="save()"
    >
      {{ "publicTransportForm.buttons.save" | translate }}
    </button>
  </div>
</mat-dialog-actions>
