<h2 mat-dialog-title>{{ data.action }} public transport</h2>
<mat-dialog-content class="publicTransportForm__content" [formGroup]="form">
  <mat-form-field class="publicTransportForm__formElement">
    <mat-label>Type</mat-label>
    <mat-select formControlName="type" [(value)]="data.type">
      <mat-option *ngFor="let type of publicTransportTypes" [value]="type">
        {{ publicTransportTypeMapping[type] }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isFieldErrorPresent('type', 'required')">
      Type is required
    </mat-error>
  </mat-form-field>
  <mat-form-field class="publicTransportForm__formElement">
    <mat-label>Route number</mat-label>
    <input
      matInput
      placeholder="32b"
      type="text"
      formControlName="routeNumber"
    />
    <mat-error *ngIf="isFieldErrorPresent('routeNumber', 'required')">
      Route number is required
    </mat-error>
  </mat-form-field>
  <mat-form-field class="publicTransportForm__formElement">
    <mat-label>Capacity</mat-label>
    <input matInput placeholder="25" type="text" formControlName="capacity" />
    <mat-error *ngIf="isFieldErrorPresent('capacity', 'required')">
      Capacity is required
    </mat-error>
    <mat-error *ngIf="isFieldErrorPresent('capacity', 'pattern')">
      Capacity is not valid integer
    </mat-error>
  </mat-form-field>
  <mat-form-field class="publicTransportForm__formElement">
    <mat-label>Organization name</mat-label>
    <input
      matInput
      type="text"
      placeholder="The best company in the world"
      formControlName="organizationName"
    />
    <mat-error *ngIf="isFieldErrorPresent('organizationName', 'required')">
      Organization name is required
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="publicTransportForm__buttonGroup">
    <button
      mat-raised-button
      class="publicTransportForm__button"
      (click)="close()"
    >
      Close
    </button>
    <button
      mat-raised-button
      color="primary"
      class="publicTransportForm__button"
      [disabled]="form.invalid"
      (click)="save()"
    >
      Save
    </button>
  </div>
</mat-dialog-actions>
