.publicTransportForm__content {
  display: flex;
  flex-direction: column;
}

.publicTransportForm__formElement {
  margin-bottom: 10px;
}

.publicTransportForm__buttonGroup {
  margin-top: 5px;
  margin-bottom: 1.4em;
}
