<mat-card class="signUpPage__card">
  <mat-card-header class="signUpPage__cardHeader">
    <mat-card-title>{{ "signUpPage.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="signUpPage__signUpForm"
      [formGroup]="signUpForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field
        class="signUpPage__signUpFormElement"
        appearance="standard"
      >
        <mat-label for="name">
          {{ "signUpPage.fields.name" | translate }}
        </mat-label>
        <input
          matInput
          id="name"
          [placeholder]="'signUpPage.placeholders.name' | translate"
          type="text"
          formControlName="name"
          maxlength="255"
        />
        <mat-error *ngIf="isFieldErrorPresent('name', 'required')">
          {{ "signUpPage.errors.nameIsRequired" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="signUpPage__signUpFormElement"
        appearance="standard"
      >
        <mat-label for="email">
          {{ "signUpPage.fields.email" | translate }}
        </mat-label>
        <input
          matInput
          id="email"
          placeholder="example@gmail.com"
          type="text"
          formControlName="email"
        />
        <mat-error *ngIf="isFieldErrorPresent('email', 'required')">
          {{ "signUpPage.errors.emailIsRequired" | translate }}
        </mat-error>
        <mat-error *ngIf="isFieldErrorPresent('email', 'email')">
          {{ "signUpPage.errors.emailIsNotValid" | translate }}
        </mat-error>
      </mat-form-field>
      <div formGroupName="passwordWithConfirmation">
        <mat-form-field
          class="signUpPage__signUpFormElement"
          appearance="standard"
        >
          <mat-label for="password">
            {{ "signUpPage.fields.password" | translate }}
          </mat-label>
          <input
            matInput
            id="password"
            maxlength="255"
            placeholder="5up3r_57r0n6_p455w0rd"
            [type]="getPasswordInputType()"
            formControlName="password"
          />
          <mat-icon
            matSuffix
            class="signUpPage__showPasswordButton"
            (click)="toggleShowPassword()"
          >
            {{ showPassword ? "visibility" : "visibility_off" }}
          </mat-icon>
          <mat-error
            *ngIf="
              isPasswordWithConfirmationFieldErrorPresent(
                'password',
                'required'
              )
            "
          >
            {{ "signUpPage.errors.passwordIsRequired" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              isPasswordWithConfirmationFieldErrorPresent(
                'password',
                'minlength'
              )
            "
          >
            {{
              "signUpPage.errors.passwordLengthShouldBeGreaterOrEqual6"
                | translate
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="signUpPage__signUpFormElement"
          appearance="standard"
        >
          <mat-label for="passwordConfirmation">
            {{ "signUpPage.fields.passwordConfirmation" | translate }}
          </mat-label>
          <input
            matInput
            id="passwordConfirmation"
            maxlength="255"
            placeholder="5up3r_57r0n6_p455w0rd"
            [type]="getPasswordConfirmationInputType()"
            formControlName="passwordConfirmation"
          />
          <mat-icon
            matSuffix
            class="signUpPage__showPasswordConfirmationButton"
            (click)="toggleShowPasswordConfirmation()"
          >
            {{ showPasswordConfirmation ? "visibility" : "visibility_off" }}
          </mat-icon>
          <mat-error
            *ngIf="
              isPasswordWithConfirmationFieldErrorPresent(
                'passwordConfirmation',
                'required'
              )
            "
          >
            {{ "signUpPage.errors.passwordConfirmationIsRequired" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              isPasswordWithConfirmationFieldErrorPresent(
                'passwordConfirmation',
                'minlength'
              )
            "
          >
            {{
              "signUpPage.errors.passwordConfirmationLengthShouldBeGreaterOrEqual6"
                | translate
            }}
          </mat-error>
          <mat-error *ngIf="arePasswordAndConfirmationDifferent()">
            {{
              "signUpPage.errors.passwordAndPasswordConfirmationShouldBeEqual"
                | translate
            }}
          </mat-error>
        </mat-form-field>
      </div>
      <button
        class="signUpPage__signUpFormSubmitButton"
        mat-raised-button
        color="primary"
      >
        {{ "signUpPage.buttons.signUp" | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
