﻿<mat-card class="signInPage__card">
  <mat-card-header class="signInPage__cardHeader">
    <mat-card-title>{{ "signInPage.title" | translate }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="signInPage__signInForm"
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field
        class="signInPage__signInFormElement"
        appearance="standard"
      >
        <mat-label for="email">
          {{ "signInPage.fields.email" | translate }}
        </mat-label>
        <input
          matInput
          id="email"
          placeholder="example@gmail.com"
          type="text"
          formControlName="email"
          maxlength="255"
        />
        <mat-error *ngIf="isFieldErrorPresent('email', 'required')">
          {{ "signInPage.errors.emailIsRequired" | translate }}
        </mat-error>
        <mat-error *ngIf="isFieldErrorPresent('email', 'email')">
          {{ "signInPage.errors.emailIsNotValid" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="signInPage__signInFormElement"
        appearance="standard"
      >
        <mat-label for="password">
          {{ "signInPage.fields.password" | translate }}
        </mat-label>
        <input
          matInput
          id="password"
          placeholder="5up3r_57r0n6_p455w0rd"
          [type]="getPasswordInputType()"
          maxlength="255"
          formControlName="password"
        />
        <mat-icon
          matSuffix
          class="signInPage__showPasswordButton"
          (click)="toggleShowPassword()"
        >
          {{ showPassword ? "visibility" : "visibility_off" }}
        </mat-icon>
        <mat-error *ngIf="isFieldErrorPresent('password', 'required')">
          {{ "signInPage.errors.passwordIsRequired" | translate }}
        </mat-error>
        <mat-error *ngIf="isFieldErrorPresent('password', 'minlength')">
          {{
            "signInPage.errors.passwordLengthShouldBeGreaterOrEqual6"
              | translate
          }}
        </mat-error>
      </mat-form-field>
      <button
        class="signInPage__signInFormSubmitButton"
        mat-raised-button
        color="primary"
      >
        {{ "signInPage.buttons.signIn" | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
