﻿<mat-card class="signInPage__card">
  <mat-card-header class="signInPage__cardHeader">
    <mat-card-title>Sign in</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      class="signInPage__signInForm"
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field
        class="signInPage__signInFormElement"
        appearance="standard"
      >
        <mat-label for="email">Email</mat-label>
        <input
          matInput
          id="email"
          placeholder="example@gmail.com"
          type="text"
          formControlName="email"
          maxlength="255"
        />
        <mat-error *ngIf="isEmailErrorPresent('required')"
          >Email is required</mat-error
        >
        <mat-error *ngIf="isEmailErrorPresent('email')"
          >Email is not valid</mat-error
        >
      </mat-form-field>
      <mat-form-field
        class="signInPage__signInFormElement"
        appearance="standard"
      >
        <mat-label for="password">Password</mat-label>
        <input
          matInput
          id="password"
          placeholder="zxcqwe123"
          [type]="getPasswordInputType()"
          formControlName="password"
        />
        <mat-icon
          matSuffix
          class="signInPage__showPasswordButton"
          (click)="toggleShowPassword()"
          >{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon
        >
        <mat-error *ngIf="isPasswordErrorPresent('required')"
          >Password is required</mat-error
        >
        <mat-error *ngIf="isPasswordErrorPresent('minlength')"
          >Password length should be greater or equal 6</mat-error
        >
      </mat-form-field>
      <button
        class="signInPage__signInFormSubmitButton"
        mat-raised-button
        color="primary"
      >
        Sign in
      </button>
    </form>
  </mat-card-content>
</mat-card>
